.theme-light .markdown-body {
    color: #1f2328;
    background: #ffffff;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.theme-light .markdown-body > *:first-child {
    margin-top: 0;
}

.theme-light .markdown-body > *:last-child {
    margin-bottom: 0;
}

.theme-light .markdown-body h1,
.theme-light .markdown-body h2,
.theme-light .markdown-body h3,
.theme-light .markdown-body h4,
.theme-light .markdown-body h5,
.theme-light .markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.theme-light .markdown-body h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #d8dee4;
}

.theme-light .markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #d8dee4;
}

.theme-light .markdown-body h3 {
    font-size: 1.25em;
}

.theme-light .markdown-body p,
.theme-light .markdown-body ul,
.theme-light .markdown-body ol,
.theme-light .markdown-body dl,
.theme-light .markdown-body table,
.theme-light .markdown-body pre,
.theme-light .markdown-body blockquote {
    margin-top: 0;
    margin-bottom: 16px;
}

.theme-light .markdown-body ul,
.theme-light .markdown-body ol {
    padding-left: 2em;
}

.theme-light .markdown-body blockquote {
    padding: 0 1em;
    color: #57606a;
    border-left: 0.25em solid #d0d7de;
}

.theme-light .markdown-body code {
    padding: 0.2em 0.4em;
    font-family:
        ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono",
        monospace;
    font-size: 85%;
    background: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
}

.theme-light .markdown-body pre {
    padding: 16px;
    overflow: auto;
    background: #f6f8fa;
    border-radius: 6px;
}

.theme-light .markdown-body pre code {
    padding: 0;
    background: transparent;
    border-radius: 0;
}

.theme-light .markdown-body a {
    color: #0969da;
    text-decoration: none;
}

.theme-light .markdown-body a:hover {
    text-decoration: underline;
}

.theme-light .markdown-body table {
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
}

.theme-light .markdown-body table th,
.theme-light .markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #d0d7de;
}

.theme-light .markdown-body table tr {
    background: #ffffff;
    border-top: 1px solid #d8dee4;
}

.theme-light .markdown-body table tr:nth-child(2n) {
    background: #f6f8fa;
}

.theme-light .markdown-body img {
    max-width: 100%;
}
